RewriteEngine On

# If the request is not for a valid directory
RewriteCond %{REQUEST_FILENAME} !-d
# If the request is not for a valid file
RewriteCond %{REQUEST_FILENAME} !-f
# Check if the requested file with .html extension exists
RewriteCond %{REQUEST_FILENAME}.html -f
# If it does, rewrite the request internally to .html
RewriteRule ^(.*)$ $1.html [L]
